body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 35%;
   align-items: center;
   background-color: #3570af;
   padding: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
   height: 340px;
}

.login-box {
    text-align: center;
 /* Add padding to the login box */
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: inline-block; /* Use inline-block to contain child elements */
    width: 100%;
    height: 100%;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #444;
}

input[type="text"],
input[type="password"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    transition: border-color 0.2s;
    box-sizing: border-box;
}

.login-form {
    margin-top: 20px; /* Add margin to separate form from login box */
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
}

button {
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    text-decoration: none;
    color: #007bff;
}

.forgot-password a:hover {
    text-decoration: underline;
}
